$boardLength: 100vh;

body {
  margin: 0;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

main {
  height: $boardLength;
  width: $boardLength;
  margin: auto;
}

.file {
  height: 100%;
  width: 12.5%;
  display: inline-block;
}

.square {
  height: 12.5%;
  width: 100%;
  outline: 1px solid black;
  // flex: 1 1 100px;


  .white.Rook {
    height: 100%;
    width: 100%;
    background-image: url('./images/rook-white.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .white.Pawn {
    height: 100%;
    width: 100%;
    background-image: url('./images/pawn-white.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .white.Knight {
    height: 100%;
    width: 100%;
    background-image: url('./images/knight-white.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .white.Bishop {
    height: 100%;
    width: 100%;
    background-image: url('./images/bishop-white.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .white.Queen {
    height: 100%;
    width: 100%;
    background-image: url('./images/queen-white.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .white.King {
    height: 100%;
    width: 100%;
    background-image: url('./images/king-white.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .black.Rook {
    height: 100%;
    width: 100%;
    background-image: url('./images/rook-black.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .black.Pawn {
    height: 100%;
    width: 100%;
    background-image: url('./images/pawn-black.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .black.Knight {
    height: 100%;
    width: 100%;
    background-image: url('./images/knight-black.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .black.Bishop {
    height: 100%;
    width: 100%;
    background-image: url('./images/bishop-black.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .black.Queen {
    height: 100%;
    width: 100%;
    background-image: url('./images/queen-black.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .black.King {
    height: 100%;
    width: 100%;
    background-image: url('./images/king-black.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
